{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" media="all" href="{% static "dashboard.css" %}" type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="all" href="{% static "bootstrap.css" %}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<div style = "text-align: center">
<h2>Лабораторна робота №3</h2>
<h4>студентки 4 курсу</h4>
<h4>групи геоінформатики</h4>
<h4>Кравченко Євгенії Геннадіївни</h4>
</div>
<button type="button" id = "myButton" class="btn btn-success" style = "position:absolute; right: 460px; top: 250px;" >Додати данні</button>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Оберіть таблицю
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
<form id = "areass">

     <input type="radio" name="optradio" value = "areas">Areas


     <input type="radio" name="optradio" value="area_inform">Area-inform

    <input type="radio" name="optradio" value="measurment">Measurment



</form>
        </ul>
</div>
<script defer="defer" type="text/javascript">
    function areas_function(){
        $("#area_inform").css("background-color", "transparent");
        $("#measurment").css("background-color", "transparent");
        $("#areas").css("background-color", "rgba(75, 73, 74, 0.43)");

    }
        function areas_inform(){
        $("#areas").css("background-color", "transparent");
        $("#measurment").css("background-color", "transparent");
        $("#area_inform").css("background-color", "rgba(75, 73, 74, 0.43)");

    }
            function measurment(){
        $("#area_inform").css("background-color", "transparent");
        $("#ares").css("background-color", "transparent");
        $("#measurment").css("background-color", "rgba(75, 73, 74, 0.43)");

    }
    function show_all(){
                $.ajax({url: "/post_search/",
                        type: "GET",

                        data: {
                            'value': "all"
                        },
                        async: true,

                        success: function (response) {

                            $('#table').html(response);

                        },
                        complete: function (xhr, status) {


                        },
                        error: function (xhr, textStatus, thrownError) {
                            console.log(error);
                        }
                    });


    }
    function searchf(){

$('input:radio').change(function(){
var areasss = $("form input[type='radio']:checked").val();});

var form = document.querySelector("#search");
var val = form.value;
        $.ajax({url: "/post_search/",
                        type: "GET",

                        data: {
                            'value': val, 'areasss': areasss
                        },
                        async: true,

                        success: function (response) {

                            $('#table').html(response);

                        },
                        complete: function (xhr, status) {


                        },
                        error: function (xhr, textStatus, thrownError) {
                            console.log(error);
                        }
                    });

    }
    document.getElementById("myButton").onclick = function () {
        location.href = "/adddata/";
    };
    </script>

  <div class="form-group">
        <button type="submit" class="btn btn-default" style = "position: absolute; top:300px; left: 640px;" onclick = show_all() >Показати все</button>


  <li><input type="text" class="form-control" id = "search" placeholder="Введіть критерій для пошуку" style = "position: absolute; top:250px; left: 480px; width: 250px;" value=""><button style="position: absolute; top: 250px; left: 740px;" class="btn btn-default" onclick = searchf() >Знайти</button></li>



    <button type="submit" class="btn btn-default" onclick = filter_field()>Відфільтрувати по полю</button>
</div>


<table class="table table-hover" id = "table">
 <tr style = "background-color: rgba(246, 255, 180, 0.77)">
    <td >area</td>
    <td >station</td>
    <td >date field</td>
    <td>time_field</td>
    <td>m1</td>
    <td>m2</td>
    <td>m3</td>
    <td>m4</td>
    </tr>
{% for d in meas%}
    <tr style = "background-color: rgba(188, 222, 255, 0.29)">
    <td>{{ d.area }}</td>
    <td>{{ d.station }}</td>
    <td>{{ d.date_field }}</td>
    <td>{{ d.time_field}}</td>
    <td>{{ d.m1}}</td>
    <td>{{ d.m2 }}</td>
    <td>{{ d.m3 }}</td>
    <td>{{ d.m4 }}</td>
    </tr>
{% endfor %}
</table>

</body>
</html>