<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if data %}
 <tr style = "background-color: rgba(246, 255, 180, 0.77)">
    <td >area</td>
    <td >station</td>
    <td >date field</td>
    <td>time_field</td>
    <td>m1</td>
    <td>m2</td>
    <td>m3</td>
    <td>m4</td>
    </tr>
{% for d in data%}
    <tr style = "background-color: rgba(188, 222, 255, 0.29)">
    <td>{{ d.area }}</td>
    <td>{{ d.station }}</td>
    <td>{{ d.date_field }}</td>
    <td>{{ d.time_field}}</td>
    <td>{{ d.m1}}</td>
    <td>{{ d.m2 }}</td>
    <td>{{ d.m3 }}</td>
    <td>{{ d.m4 }}</td>
    </tr>
{% endfor %}
{% endif %}
{% if data1%}
     <tr style = "background-color: rgba(246, 255, 180, 0.77)">
    <td >area</td>
         <td >area name</td>
    <td >station</td>
    <td >date field</td>
    <td>time_field</td>
    <td>m1</td>
    <td>m2</td>
    <td>m3</td>
    <td>m4</td>
    </tr>
    {% for i in data1 %}
        <tr >
    <td>{{ i.area }}</td>
            <td>{{ i.area_name }}</td>
    <td>{{ i.station }}</td>
    <td>{{ i.date_field }}</td>
    <td>{{ i.time_field}}</td>
    <td>{{ i.m1}}</td>
    <td>{{ i.m2 }}</td>
    <td>{{ i.m3 }}</td>
    <td>{{ i.m4 }}</td>
    </tr>
    {% endfor %}
{% endif %}
</body>
</html>