<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if data %}
    <tr style = "background-color: rgba(246, 255, 180, 0.77)">
    {%  for k in field %}
        <td >{{ k }}</td>
    {% endfor %}
    </tr>
    {% for i in data %}
         <tr>
              <td >{{ i.area }}</td>
             <td >{{ i.area_name }}</td>
             <td >{{ i.elevation }}</td>
             <td >{{ i.point_x }}</td>
             <td >{{ i.point_y }}</td>

              <td >{{ i.station }}</td>
         <td >{{ i.date_field }}</td>
            <td >{{ i.time_field }}</td>
            <td >{{ i.m1 }}</td>
            <td >{{ i.m2 }}</td>
            <td >{{ i.m3 }}</td>
            <td >{{ i.m4 }}</td>

         </tr>

    {% endfor %}
 {% endif %}
{% if data1%}
     <tr style = "background-color: rgba(246, 255, 180, 0.77)">
        {% for k in field %}

    <td >{{ k }}</td>

    {% endfor %}
         </tr>
    {% for i in data1 %}
        {% if ar == "areas" %}
            <tr>
              <td >{{ i.area }}</td>
              <td >{{ i.area_name }}</td>
         </tr>
        {% endif %}
        {% if ar == "area_inform" %}
            <tr>
              <td >{{ i.areas }}</td>
              <td >{{ i.station }}</td>
            <td >{{ i.elevation }}</td>
            <td >{{ i.point_x }}</td>
            <td >{{ i.point_y }}</td>
         </tr>
        {% endif %}
        {% if ar == "measurment" %}
            <tr>
              <td >{{ i.area }}</td>
              <td >{{ i.station }}</td>
            <td >{{ i.date_field }}</td>
            <td >{{ i.time_field }}</td>
            <td >{{ i.m1 }}</td>
            <td >{{ i.m2 }}</td>
            <td >{{ i.m3 }}</td>
            <td >{{ i.m4 }}</td>

         </tr>
        {% endif %}
         {% if ar == "all" %}
            <tr>
              <td >{{ i.area }}</td>
             <td >{{ i.area_name }}</td>
             <td >{{ i.elevation }}</td>
             <td >{{ i.point_x }}</td>
             <td >{{ i.point_y }}</td>

              <td >{{ i.station }}</td>
         <td >{{ i.date_field }}</td>
            <td >{{ i.time_field }}</td>
            <td >{{ i.m1 }}</td>
            <td >{{ i.m2 }}</td>
            <td >{{ i.m3 }}</td>
            <td >{{ i.m4 }}</td>

         </tr>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>